@import "tailwindcss";

input {
  background-color: white;
  border: solid 3px;
}

select,
option {
  background-color: white;
  border: solid 2px;
}

option,
select, input {
  color: black;
}

button {
    border: solid 3px;
    padding: .4rem .6rem;
    border-radius: 7px;
    cursor: pointer;
}